vendor/
tmp/
*.log
*.bak
production.*
.DS_Store
.vscode/
tags
.idea
output/
bin/
coverage.out
dcmt
elasticsearch/data/*
mariadb/data/*
psql_standalone/data/*
kong/kong_data/*
mysql.8.0.30/data/*
mysql/data/*
nginx_php/www/*